@import "tailwindcss";

/* Zerando o CSS - Reset Global */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Arial', sans-serif; /* ou outra fonte que preferir */
  line-height: 1.5;
  background-color: #242424; /* Cor de fundo neutra */
  color: white; /* Cor de texto neutra */
}